{
  "extends": "react-app",
  "globals": {
    "chrome": "readonly"
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "keyword-spacing": [
      "error",
      {
        "after": true,
        "before": true
      }
    ],
    "jsx-a11y/anchor-is-valid": "off",
    "curly": [
      "error",
      "multi-or-nest"
    ],
    "nonblock-statement-body-position": [
      "error",
      "below"
    ]
  }
}